/* --------------------------------------------------- */
/* BASIC SET UP */
/* --------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'lato', 'ariel', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    background-color: #ddd;
}

/* --------------------------------------------------- */
/* NAV BAR */
/* --------------------------------------------------- */


.topnav {
    background-color: #354350;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #354350;
}


.topnav a:hover {
    background-color: #CB2125;
    color: white;
}


.topnav a.current {
    background-color: #CB2125;
    color: white;
}



.topnav-right {
    float: right;
}

/* --------------------------------------------------- */
/* BETS PAGE */
/* --------------------------------------------------- */


.indiv-bet {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: 2rem;
    padding: 1rem;
    border: 1px solid black;
    background-color: white;
}


/* bet slip */

.bet-slip {
    display: inline-block;
    width: 25%;
    float: right;
    overflow: auto;
    border-radius: .1rem;
    margin-right: 1rem;
    margin-top: 0;
    background-color: white;
}

.bet-slip h4,
.pending-bet {
    text-align: center;
}



.confirm {
    margin-top: 5rem;
    background-color: #354350;
    color: white;
    padding: .3rem
}

#placebet,
.amount,
#betamount {
    position: absolute;
    right: 1rem
}

#betamount {
    width: 5.5%;
}

#placebet {
    background-color: #CB2125;
    color: white;
    border-radius: .1rem;
    border: none;
    padding: .4rem
}

#placebet:hover {
    background-color: #ce6566;
    color: white;
}