/* --------------------------------------------------- */
/* BASIC SET UP */
/* --------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: black;
    font-size: 17px;
    text-rendering: optimizeLegibility;
    background-color: #ddd;
}

/* --------------------------------------------------- */
/* NAV BAR */
/* --------------------------------------------------- */


.topnav {
    background-color: #354350;
    overflow: hidden;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 100%;
    border-bottom: 2px solid white;
    padding-bottom: 3rem;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #354350;
}


.topnav a:hover {
    background-color: #CB2125;
    color: white;
}


.topnav a.current {
    background-color: #CB2125;
    color: white;
}



.topnav-right {
    float: right;
}

/* --------------------------------------------------- */
/* animations */
/* --------------------------------------------------- */

/* fade in effect */

.bets-list,
.indiv,
.updates,
.selected-bet * {
    animation: fadeIn ease-in-out .7s, swoop .7s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* swoop in effect */

@keyframes swoop {
    from {
        transform: translate(-10%)
    }

    to {
        transform: translate(0%)
    }
}


/* --------------------------------------------------- */
/* BETS PAGE */
/* --------------------------------------------------- */

#week-selector {
    margin-bottom: 1rem;
}

/* bet slips */

.bets-list {
    padding: 0;
    width: 75%;
    margin-left: .5rem;

}

.indiv {

    margin: 0rem;
    margin-bottom: 2rem;

    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);


}

.away,
.home {
    display: flex;
}

.team,
.home button,
.away button {
    width: 100%;
    text-align: center;
    background-color: white;
    border: 1px solid #ddd;
    padding: 1rem;

}

.updates {
    background-color: #354350;
    color: white;
    padding: .5rem;
    width: 36.8%;
    display: flex;
    justify-content: space-between;

}


.team {
    background-color: #E7F0F8;
}


.score {
    background-color: #354350;
    color: white;
    width: 50%;
    text-align: center;
    border-top: 1px solid #ddd;
    border-width: thin;
    padding: 1rem 0;
}

.home button:hover,
.away button:hover {
    background-color: #c6e2fa;
    cursor: pointer;
}

.home button:focus,
.away button:focus {
    background-color: #CB2125;
    color: white;
}


#week-selector {
    margin: 3rem 0 1rem 1rem;
    background-color: white;
    color: #354350;
    padding: .2rem;
    border-radius: .2rem;

}

.img {
    background-color: #E7F0F8;
    padding: .5rem;

}

img {
    height: 2.5rem;
}



/* bet cart */

.bet-cart {
    width: 22%;
    height: auto;
    border: 1px solid #354350;
    background-color: white;
    position: fixed;
    left: 77%;
    top: 8%;
}

.bet-cart h3 {
    color: #CB2125;
    text-align: center;
    padding: .5rem;
}

.selected-bet {
    text-align: center;
    font-size: 80%;
    padding: .5rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
}

.bet-info {
    word-spacing: .5rem;
    margin-bottom: .5rem;
}


.bet-money {
    display: flex;
    justify-content: space-between;
    margin: .2rem;

}

.top {
    border-top: 1px solid #354350;
    margin-top: .4rem;
    padding-top: .4rem;
}

.risk {
    width: 20%
}

.bet-cart button {
    padding: .2rem;

}

.bet-cart button:hover {
    cursor: pointer;
    background-color: #CB2125;
    color: white
}


/* --------------------------------------------------- */
/* PERFORMANCE PAGE */
/* --------------------------------------------------- */

/* charts */

.visual-data {
    background-color: white;
    margin: 2rem;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);

}

.small-charts {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.chart-div {
    display: flex;
    width: 50%;

}

/* history */

.hist-head,
.individual {
    display: flex;
    width: 90%;
    margin: auto;
    background: white;
    border-radius: .5rem;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}


.data,
.head {
    flex: 1 1 10rem;
    text-align: center;
    border: 1px solid #354350;
    padding: .5rem;
    align-items: center;

}

.head {
    font-size: 1.5rem;
    border-bottom: solid #354350;
}

/* --------------------------------------------------- */
/* HOME PAGE */
/* --------------------------------------------------- */

.title-1 {
    text-align: center;
}

header {
    height: 5vh;
}

.pick-img {
    background: url('pick.jpg');
    height: 10vw;
    width: 10vw
}

