<body>

    <head>
        <link rel="stylesheet" href="../style/style.css">

    </head>

    <header>


        <nav class="nav-row">
            <div class="topnav">
                <a class="active" href="#">Home</a>
                <a href="#">Bets</a>
                <a href="#">Performance</a>
                <a href="#">Profile</a>
                <div class="topnav-right">
                    <a href="#">Sign Up</a>
                    <a href="#">Log In</a>
                </div>
            </div>
        </nav>
    </header>
    <section class="bets-page">
        <div class="bet-headers">
            <span></span>
            <span></span>
            <span>Spread</span>
            <span>Moneyline</span>
            <span>O/U</span>
            <form>
                <select name="week" id="week-selector">
                    <option value="default">Choose a week</option>
                    <option value="16">Week-16</option>
                    <option value="15">Week-15</option>
                    <option value="14">Week-14</option>
                    <option value="13">Week-13</option>
                    <option value="12">Week-12</option>
                    <option value="11">Week-11</option>
                    <option value="10">Week-10</option>
                    <option value="9">Week-9</option>
                    <option value="8">Week-8</option>
                    <option value="7">Week-7</option>
                    <option value="6">Week-6</option>
                    <option value="5">Week-5</option>
                    <option value="4">Week-4</option>
                    <option value="3">Week-3</option>
                    <option value="2">Week-2</option>
                    <option value="1">Week-1</option>
                </select>
            </form>

        </div>
        <div class='bets-list'></div>

    </section>
    <section class="bet-slip">
        <h4>Bet Slip</h4>
        <div class="pending-bet">
            empty
        </div>
        <form>
            <div class="confirm">
                <span>Risk: </span>
                <input type="number" id="betamount" name="betamount" size="9"><br>
                <span>Potentional winnings: </span>
                <span class="amount">$0.00</span><br>
                <button type="button" id="placebet">Place Bets</button>
            </div>

        </form>

    </section>

    <footer>

    </footer>
    <script type='text/javascript' src='config.js'></script>
    <script src="script.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>