<body>

    <head>
        <link rel="stylesheet" href="../style/style.css">

    </head>

    <header>


        <nav class="nav-row">
            <div class="topnav">
                <a href="#" class="current">Home</a>
                <a href="/bets" class="options">Bets</a>
                <a href="/performance" class="options">Performance</a>
                <a href="#" class="options">Profile</a>

                <div class="topnav-right">
                    <a href="/logout" class="options">Log Out</a>
                </div>
                <div class="topnav-right">
                    <a href="/google" class="options">Log In</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="title-1">
        <h1 class="welcome">Welcome to Pig Skin Bets</h1> 
    </div>

    <div class="banner">
        <img class="banner" src="http://www.gannett-cdn.com/-mm-/03ec003eae43c9abfa08b858a9a23a468d8578ea/c=262-0-6749-3665&r=x1683&c=3200x1680/local/-/media/2015/04/20/USATODAY/USATODAY/635651375730025187-USP-NFL-Super-Bowl-XLIX-Stadium-Views.jpg"/>
    </div>

    <div class="about-us">
        <h3>About Us</h3>
        <p>Pig Skin Bets is an online sportsbook specializing in football. We believe that with any matchup, it's more fun when you have some skin in the game. We have dedicated ourselves to making the most accurate, safe, and responsible betting platform on the market.</p>
    </div>

    <h3 class="sub-title">How It Works</h3>

    <div class="steps">
        <div class="pick">
            <p class="step-title">Pick</p>
            <div class="pick-img">
                <!-- img goes here -->
            </div>
        </div>
        <div class="watch">
            <p class="step-title">Watch</p>
            <div class="watch-img">
                <!-- img goes here -->
            </div>
        </div>
        <div class="win">
            <p class="step-title">Win</p>
            <div class="win-img">
                <!-- img goes here -->
            </div>
        </div>
    </div>

    <h3 class="sub-title">It's that simple.</h3>

    <div class="get-started">
        <p>Get started by <a href="/google">logging in</a></p>
    </div>

    <div class="fav-team">
        <label for="fav-team">Choose your favorite team:</label>

        <select name="fav-team" id="fav-team-selector">
        <option value="default">...</option>
          <option value="Cardinals">Arizona Cardinals</option>
          <option value="Falcons">Atlanta Falcons</option>
          <option value="Ravens">Baltimore Ravens</option>
          <option value="Bills">Buffalo Bills</option>
          <option value="Panthers">Carolina Panthers</option>
          <option value="Bears">Chicago Bears</option>
          <option value="Bengals">Cincinnati Bengals</option>
          <option value="Browns">Cleveland Browns</option>
          <option value="Cowboys">Dallas Cowboys</option>
          <option value="Broncos">Denver Broncos</option>
          <option value="Lions">Detroit Lions</option>
          <option value="Packers">Green Bay Packers</option>
          <option value="Texans">Houston Texans</option>
          <option value="Colts">Indianapolis Colts</option>
          <option value="Jaguars">Jacksonville Jaguars</option>
          <option value="Chiefs">Kansas City Chiefs</option>
          <option value="Raiders">Las Vegas Raiders</option>
          <option value="Chargers">Los Angeles Chargers</option>
          <option value="Rams">Los Angeles Rams</option>
          <option value="Dolphins">Miami Dolphins</option>
          <option value="Vikings">Minnesota Vikings</option>
          <option value="Patriots">New England Patriots</option>
          <option value="Saints">New Orleans Saints</option>
          <option value="Giants">New York Giants</option>
          <option value="Jets">New York Jets</option>
          <option value="Eagles">Philadelphia Eagles</option>
          <option value="Steelers">Pittsburgh Steelers</option>
          <option value="49ers">San Francisco 49ers</option>
          <option value="Seahawks">Seattle Seahawks</option>
          <option value="Buccaneers">Tampa Bay Buccaneers</option>
          <option value="Titans">Tennessee Titans</option>
          <option value="Football Team">Washington Football Team</option>
        </select> 
    </div>

    <footer>

    </footer>
    <script type='text/javascript' src='teams.js'></script>
</body>