<body>

    <head>
        <link rel="stylesheet" href="../style/style.css">

    </head>

    <header>


        <nav class="nav-row">
            <div class="topnav">
                <a href="#" class="current">Home</a>
                <a href="/bets">Bets</a>
                <a href="/performance">Performance</a>
                <a href="#">Profile</a>

                <div class="topnav-right">
                    <a href="/logout">Log Out</a>
                </div>
                <div class="topnav-right">
                    <a href="/google">Log In</a>
                </div>
            </div>
        </nav>
    </header>

    <!-- <h1>Welcome to Pig Skin Bets</h1> (req.user._json.given_name) -->
    <footer>

    </footer>
    <script type='text/javascript' src='config.js'></script>
</body>